@{
    ViewBag.Title = "ViewActivities";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@using System.Data

@model Travel_Admin_Panel.Models.CombinedActivityModel
@{
    List<SelectListItem> LstLocations = Model.LocationList;
}


<div class="modal fade modal-image" id="modal-image" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            </div>
            <div class="modal-body">
                <img src="" alt="picture 1" class="img-responsive">
            </div>
            <div class="modal-footer">
                <p>Activity</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-edit-activity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>Edit</strong> Activity</h4>
            </div>
            <form id="activityeditform" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger display-hide" id="errLbl">
                                <span></span>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @Html.HiddenFor(m => m.Actvty.ID)

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Choose Location</label>
                                                @Html.DropDownListFor(m => m.Actvty.LocationID, LstLocations, "Select Location", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Title</label>
                                                <div class="append-icon">
                                                    @Html.TextBoxFor(m => m.Actvty.Title, new { @class = "form-control", @placeholder = "Title", @type = "text" })
                                                    <i class="fa fa-image"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Activity Image (W:350px H:250px)</label>
                                                <div class="file">
                                                    <div class="option-group">
                                                        <span class="file-button btn-primary">Choose File</span>
                                                        @Html.TextBoxFor(m => m.Actvty.ActivityImage, new { @class = "custom-file", @onchange = "document.getElementById('uploader').value=this.value;", @type = "file", @accept = "image/jpeg" })
                                                        <input type="text" class="form-control" id="uploader" placeholder="no file selected" readonly="">
                                                        @Html.HiddenFor(m => m.Actvty.ImageLink)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group">
                                            <label class="control-label">Activity Description</label>
                                            <div class="append-icon">
                                                @Html.TextAreaFor(m => m.Actvty.Description, new { @class = "form-control", @placeholder = "Enter destination details", @rows = "6", @maxlength = "4000" })
                                                <i class="icon-lock"></i>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-embossed">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-view-activity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>View</strong> Activity</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <h4><strong><i class="fa fa-tags"></i>&nbsp;Location: </strong><span class="location">NA</span></h4>
                    </div>
                    <div class="col-md-7">
                        <h4><strong><i class="fa fa-image"></i>&nbsp;Activity Title: </strong><span class="actvty-title">NA</span></h4>

                    </div>
                    <div class="col-md-12">
                        <h4 class="m-b-0 m-t-20"><strong><i class="fa fa-edit"></i>&nbsp;Description: </strong></h4>
                        <div class="desc-div">
                            <i class="fa fa-quote-left"></i>
                            <span class="actvty-description">NA</span>
                            <i class="fa fa-quote-right"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="header">
        <h2><strong><i class="fa fa-image"></i>@ViewBag.Title</strong></h2>
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Activity</a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>


    <div class="row" id="activitylist">
        @{Html.RenderPartial("ActivityTable", Model.DT);}

    </div>

</div>
<script>
    changeActive(6);
</script>
<script src="~/Resources/assets/customjs/manageactivity.js"></script>
