@using System.Data;
@model DataTable
<div class="col-md-12 portlets">
    <div class="panel">
        <div class="panel-header panel-controls">
            <h3><i class="fa fa-table"></i> <strong>Packages</strong></h3>
            @if (ViewBag.Tran != null && ViewBag.Msg != null)
            {
                if (ViewBag.Tran == "True")
                {
                    <div class="alert alert-success" id="errLbl">
                        <span>@ViewBag.Msg</span>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" id="errLbl">
                        <span>@ViewBag.Msg</span>
                    </div>
                }

            }
            <div class="control-btn">
                <a data-ajax="true" id="btnupdatepkglist" data-ajax-method="POST" data-ajax-loading="#tblLoader" data-ajax-mode="replace" data-ajax-update="#packagelist" href="/Hotel/ViewPackageAjax"><i class="icon-reload"></i></a>

                <a href="#" class="panel-maximize hidden"><i class="icon-size-fullscreen"></i></a>
            </div>
            <div class="panel-content">
                @if (Model.Rows.Count > 0)
                {
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>location</th>
                                <th>Title</th>
                                <th>Duration</th>
                                <th>Image</th>
                                <th>Controls</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int x = 1;}
                            @foreach (DataRow row in Model.Rows)
                            {

                                <tr>
                                    <td>@(x++)</td>
                                    <td>@row["Location"]</td>

                                    <td>@row["PackageTitle"]</td>
                                    <td>@row["PackageDuration"]</td>

                                    <td>
                                        @{
                                            string ImageLink = row["ImageLink"].ToString();
                                            // ImageLink = ImageLink.Substring(ImageLink.IndexOf("\\Resources"));

                                        }

                                        <a class="btnimage btn btn-sm btn-default" data-image="@ImageLink" title="View Image" data-title="@row["PackageTitle"]"><i class="fa fa-image"></i>&nbsp;View</a>

                                    </td>


                                    <td>
                                        <a class="btn btn-sm btn-success" title="View Package" data-ajax="true" data-ajax-failure="failurePackageView" data-ajax-method="POST" data-ajax-loading="#tblLoader" data-ajax-mode="replace" data-ajax-success="successPackageView" data-ajax-update="#package-view" href="/Package/GetPackageView/@row["PackageID"]"><i class="fa fa-search"></i></a>

                                        @*<a class="btn btn-sm btn-warning" title="Edit Package" data-ajax="true" data-ajax-failure="failurePackageEditView" data-ajax-method="POST" data-ajax-loading="#tblLoader" data-ajax-mode="replace" data-ajax-success="successPackageEditView" data-ajax-update="#package-edit-view" href="/Package/GetPackageEdit/@row["PackageID"]"><i class="fa fa-edit"></i></a>*@


                                        <a class="delete btn btn-sm btn-danger" title="Delete Package" data-ajax="true" data-ajax-confirm="Are you sure you want to delete the Package?" data-ajax-loading="#tblLoader" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#packagelist" href="/Package/Delete?ID=@row["PackageID"]&ImageUrl=@row["ImageLink"]&ThumbUrl=@row["ThumbnailLink"]"><i class="icons-office-52"></i></a>

                                    </td>
                                </tr>
                            }




                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No Package Found</h5>
                }
            </div>
        </div>
    </div>
</div>
